.heading-primary {
  color: $white;
  text-transform: uppercase;
  margin: 0;

  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation: moveInLeft 1.5s ease-out;

    //animation-iteration-count: 3;
    // animation-delay: 2s;
  }
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.74rem;

    animation: moveInRight 1.5s ease-out;
  }
}
