$white: #fff;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-black: #000;
$color-ico: #faddc2;
$bg-nav: rgba(103, 45, 31, 0.5);
$gray: #777;
$white-orange: rgba(255, 166, 0, 0.5);
$active-btn: rgba(211, 47, 47, 0.5);
$black-orange: #be5d23;
:root {
  --text-color: hsla(12, 54%, 26%, 1);
  --shadow-color: hsla(210, 40%, 52%, 0.4);
  --btn-color: hsla(12, 54%, 26%, 1);
  --bg-color: #141218;
}

//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// FONT
$defaut-font-size: 1.6rem;
