$white: #fff;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-black: #000;

$color-ico: #faddc2;
$bg-nav: rgba(103, 45, 31, 0.5);
$gray: #777;
$white-orange: rgba(255, 166, 0, 0.5);
$active-btn: rgba(211, 47, 47, 0.5);
$black-orange: #be5d23;
:root {
  --text-color: hsla(12, 54%, 26%, 1);
  --shadow-color: hsla(210, 40%, 52%, 0.4);
  --btn-color: hsla(12, 54%, 26%, 1);
  --bg-color: #141218;
}
